@model List<GetProductQueryResult>
@{
    Layout = null;
}


<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Ürün Adı</th>
                    <th>Sil</th>
                    <th>Güncelle</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ProductID</td>
                        <td>@item.Name</td>
                        <td>@item.Price</td>
                        <td><a href="/Product/DeleteProduct/@item.ProductID/" class="btn btn-danger">Sil</a></td>
                        <td><a href="#" class="btn btn-primary">Güncelle</a></td>
                    </tr>
                }

            </tbody>
        </table>
        <a href="/Product/CreateProduct/" class="btn btn-success">Yeni Ürün Ekle</a>
    </div>

</body>
</html>