@model List<GetCategoryQueryResult>
@{
    Layout = null;
}



<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Adı</th>
                    <th>Sil</th>
                    <th>Güncelle</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@item.CategoryID</td>
                        <td>@item.Name</td>
                        <td><a href="/Category/DeleteCategory/@item.CategoryID" class="btn btn-danger">Sil</a></td>
                        <td><a href="/Category/GetCategory/@item.CategoryID" class="btn btn-success">Güncelle</a></td>
                    </tr> 
                }
                
            </tbody>
        </table>
        <a href="/Category/CreateCategory/" class=" btn btn-primary">Yeni Kategori</a>
    </div>

</body>
</html>

